<div class="signup-container">
  <h2>Sign Up <img class="book-icon" src="assets/SignUpSignInImage2.png" alt="Book Icon"></h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" required [(ngModel)]="newUser.firstname">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required [(ngModel)]="newUser.lastname">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="newUser.email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="newUser.password">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="newUser.confirmPassword">
    </div>

    <button type="submit">Sign Up</button>
  </form>

  <p>Already have an account? <a href="/signin">Sign In here</a></p>
</div>
