<!-- navbar.component.html -->
<mat-toolbar color="primary" class="mat-elevation-z10">
  <div class="logo-container">
    <div routerLink="/dashboard" style="font-weight: bold; color: white; font-size: 18px; font-family: 'Arial', sans-serif;">
      <i class="fas fa-book" style="margin-right: 4px; color: white;"></i> HornerBookTown
    </div>       
  </div>
  <div class="spacer"></div>
  <button mat-icon-button class="mat_icon_custom" (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <ul class="nav-list" [class.show]="isNavbarOpen">
    <li class="nav-item">
      <a mat-button routerLink="/dashboard/useraccount" (click)="toggleNavbar()" >My Account </a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/dashboard/issuebook" (click)="toggleNavbar()">Issue Book</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/dashboard/returnbook" (click)="toggleNavbar()">Return Book</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/dashboard" (click)="toggleNavbar()" >Inventory</a>
    </li>
  </ul>
</mat-toolbar>
