<!-- inventory.component.html -->

<div class="inventory-container">
  <h2 class="shelf-title">Available Books in Shelf</h2>

  <div class="row">
    <!-- Loop through books and generate book elements -->
    <ng-container  *ngFor="let book of books; let i = index">
      <div class="book col-md-4">
        <img [src]="book.imageUrl" alt="{{book.title}}">
      </div>

      <!-- Add a shelf after every 3rd book -->
      <div *ngIf="i % 3 === 2" class="shelf"></div>
    </ng-container>
    <div class="shelf"></div>
  </div>
</div>
